.featuredProducts{
  margin: 100px 200px;

  .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    h1{
      font-size: 18px;
      text-transform: capitalize;
    }
    p{
      font-size: 13px;
      color: grey;
    }
  }
  .bottom{
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}